# API Configuration
EXPO_PUBLIC_API_URL=https://offices.makkuragatama.id/api
# EXPO_PUBLIC_ABSENSI_API_URL=https://apinext.makkuragatama.id/api
EXPO_PUBLIC_ABSENSI_API_URL=https://42b7afba6bcf.ngrok-free.app/api

# Environment Configuration
EXPO_PUBLIC_ENV=development

# App Version Configuration
# Format: MAJOR.MINOR.PATCH (e.g., 1.2.28)
EXPO_PUBLIC_APP_VERSION=1.2.28

# Build Number Configuration
# Format: BUILD_NUMBER (e.g., 28 for build 28)
# This will be used for Android versionCode and iOS buildNumber
EXPO_PUBLIC_BUILD_NUMBER=28

# Optional: Google Maps API Key (for Android)
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=your_android_maps_key

# Optional: Google Maps API Key (for iOS)
EXPO_PUBLIC_GOOGLE_MAPS_IOS_KEY=your_ios_maps_key
