# API Configuration
EXPO_PUBLIC_API_URL=https://offices.makkuragatama.id/api
# EXPO_PUBLIC_ABSENSI_API_URL=https://apinext.makkuragatama.id/api
EXPO_PUBLIC_ABSENSI_API_URL=https://42b7afba6bcf.ngrok-free.app/api

# Environment
EXPO_PUBLIC_ENV=development

# Optional: Google Maps API Key (for Android)
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=your_android_maps_key

# Optional: Google Maps API Key (for iOS)
EXPO_PUBLIC_GOOGLE_MAPS_IOS_KEY=your_ios_maps_key
